{% extends "base.html.twig" %} 
{% block body %}

    {{ form_start(adminForm) }}
    <div class="card border-primary mb-3" style="max-width: 40rem; border: 0px ">                
        <div class="card-body"> 
            <h3>
                 {% if editMode %}
                    Modification des informations d'un administrateur
                {%else %}
                    Ajout d'un nouvel administrateur
                {% endif %}
                
            </h3>
            <br/>
            <div class="form-group">
                <label for="nom">Nom de l'admin</label>
                {{form_widget(adminForm.nom)}}
            </div>
            <div class="form-group">
                <label for="prenom">Prénom de l'admin</label>
                {{form_widget(adminForm.prenom)}}
            </div>
            <div class="form-group">
                <label for="telephone">Numéro de Téléphone</label>
                {{form_widget(adminForm.telephone)}}
            </div>
             <div class="form-group">
                <label for="email">Adresse email</label>
                {{form_widget(adminForm.email)}}
            </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                {{form_widget(adminForm.password)}}
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Enregistrer les modifications
                {%else %}
                    Ajouter le nouvel administrateur
                {% endif %}
            </button>
        </div>
    </div> 

    {{ form_end(adminForm) }} 

{% endblock %}